* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  background-color: rgba(229, 229, 229, 0.185); }

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

[class*="col-"] {
  padding: 0 15px; }

.container {
  margin: 0 auto; }

@media (min-width: 320px) {
  .col-xs-1 {
    flex: 0 0 8.33333%; }
  .col-xs-2 {
    flex: 0 0 16.66667%; }
  .col-xs-3 {
    flex: 0 0 25%; }
  .col-xs-4 {
    flex: 0 0 33.33333%; }
  .col-xs-5 {
    flex: 0 0 41.66667%; }
  .col-xs-6 {
    flex: 0 0 50%; }
  .col-xs-7 {
    flex: 0 0 58.33333%; }
  .col-xs-8 {
    flex: 0 0 66.66667%; }
  .col-xs-9 {
    flex: 0 0 75%; }
  .col-xs-10 {
    flex: 0 0 83.33333%; }
  .col-xs-11 {
    flex: 0 0 91.66667%; }
  .col-xs-12 {
    flex: 0 0 100%; }
  .container {
    max-width: 100%; } }

@media (min-width: 576px) {
  .col-sm-1 {
    flex: 0 0 8.33333%; }
  .col-sm-2 {
    flex: 0 0 16.66667%; }
  .col-sm-3 {
    flex: 0 0 25%; }
  .col-sm-4 {
    flex: 0 0 33.33333%; }
  .col-sm-5 {
    flex: 0 0 41.66667%; }
  .col-sm-6 {
    flex: 0 0 50%; }
  .col-sm-7 {
    flex: 0 0 58.33333%; }
  .col-sm-8 {
    flex: 0 0 66.66667%; }
  .col-sm-9 {
    flex: 0 0 75%; }
  .col-sm-10 {
    flex: 0 0 83.33333%; }
  .col-sm-11 {
    flex: 0 0 91.66667%; }
  .col-sm-12 {
    flex: 0 0 100%; }
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 8.33333%;
    width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    width: 100%; }
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%; }
  .container {
    max-width: 960px; } }

@media (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%; }
  .container {
    max-width: 1140px; } }

.header {
  display: flex;
  flex-direction: column;
  width: 100%; }

.header-search {
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 0; }
  .header-search .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px; }

.search-box {
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search-box .search-icon {
    object-fit: contain;
    cursor: pointer; }

.header-main {
  border-bottom: 1px solid #e1e1e1;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%; }
  .header-main .container {
    display: flex;
    flex-wrap: wrap; }

.header-main-item {
  display: flex; }

.header-main-item-img-box {
  width: 26%;
  display: flex;
  align-items: center; }

.header-main-item-img {
  width: 100%;
  object-fit: contain; }

.header-main-item-info {
  width: 74%;
  font-family: 'Montserrat', sans-serif;
  padding-left: 15px; }

.header-main-item-title {
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 14px;
  text-transform: capitalize;
  font-size: bold; }

.header-main-item-desc {
  max-width: 100%;
  overflow-wrap: break-word;
  font-size: 12px; }

@media (min-width: 480px) and (max-width: 767px) {
  .header-main-item-img-box {
    width: 18%; }
  .header-main-item {
    margin-bottom: 5px; } }

.footer {
  padding: 15px;
  border-top: 1px solid #e1e1e1; }
  .footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.footer-copyright {
  font-family: 'Montserrat', sans-serif;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px; }

.footer-social-media {
  display: flex; }

.social-media-icon {
  margin-right: 10px;
  width: 19px;
  object-fit: contain; }
  .social-media-icon:last-of-type {
    margin-right: 0; }

@media (min-width: 768px) and (max-width: 991px) {
  .footer-copyright {
    width: 75%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .footer .container {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .footer-copyright {
    text-align: center;
    margin-bottom: 25px;
    position: relative; }
    .footer-copyright::after {
      content: '';
      height: 1px;
      width: 50%;
      background-color: rgba(0, 0, 0, 0.5);
      position: absolute;
      left: 50%;
      bottom: -15%;
      transform: translateX(-50%); } }

.main {
  padding: 60px 0; }
  .main .container {
    display: flex;
    flex-wrap: wrap; }

.main-img-box {
  display: flex;
  align-items: center; }

.main-img {
  width: 100%;
  object-fit: contain; }

.main-content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.main-content-title {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: justify;
  color: #ef5a28;
  margin-bottom: 20px; }

.main-content-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  color: #202020;
  margin-bottom: 40px; }

.main-content-title-sub {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 32px;
  line-height: 47px;
  margin-bottom: 30px;
  color: #ef5a28;
  text-transform: uppercase; }

.main-content-contact-box {
  display: flex;
  flex: 0 0 0;
  padding: 0; }

.contact-item {
  padding: 0;
  display: flex;
  height: fit-content;
  justify-content: flex-start;
  align-items: center; }

.contact-item-img-box {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: 1px solid #e1e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; }

.contact-item-img {
  width: 50%;
  object-fit: contain; }

.contact-item-content {
  display: flex;
  flex-direction: column; }
  .contact-item-content span {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: 14px;
    line-height: 17px;
    color: black; }

@media (min-width: 768px) and (max-width: 991px) {
  .contact-item-img-box {
    width: 40px;
    height: 40px; }
  .main-content-contact-box {
    flex-direction: column;
    justify-content: flex-start; }
    .main-content-contact-box .contact-item {
      margin-bottom: 15px; }
      .main-content-contact-box .contact-item:last-of-type {
        margin-bottom: 0; } }

@media (min-width: 320px) and (max-width: 767px) {
  .main-content-contact-box {
    flex-direction: column;
    justify-content: flex-start; }
    .main-content-contact-box .contact-item {
      margin-bottom: 15px; }
      .main-content-contact-box .contact-item:last-of-type {
        margin-bottom: 0; }
  .main-content-box {
    align-items: center; }
  .main-content-text {
    padding: 0 10px; } }

@media (min-width: 320px) and (max-width: 500px) {
  .main-content-title {
    font-size: 30px; }
  .main-content-title-sub {
    font-size: 26px; } }
